<?xml version="1.0" encoding="utf-8"?>
<!-- © <YEAR(S)> <AUTHOR(S)>
     License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl). -->

<openerp>
<data>

<menuitem name="ABCD"
    id="base.menu_abcd_root"
    sequence="81"/>

<menuitem name="ABCD Models"
        id="menu_abcd_models"
        parent="base.menu_abcd_root"
        sequence="1"/>


  <record id="modela_action" model="ir.actions.act_window">
        <field name="name">Model A</field>
        <field name="type">ir.actions.act_window</field>
        <field name="res_model">model.a</field>
        <field name="view_type">form</field>
        <field name="view_mode">tree,form,</field>
        <field name="view_id" eval="False"/>
        <field name="context">{}</field>
    </record>

<menuitem action="modela_action" id="modela_production_action"
        parent="menu_abcd_models" sequence="1"/>

  <record id="modelc_action" model="ir.actions.act_window">
        <field name="name">Model C</field>
        <field name="type">ir.actions.act_window</field>
        <field name="res_model">model.c</field>
        <field name="view_type">form</field>
        <field name="view_mode">tree,form,</field>
        <field name="view_id" eval="False"/>
        <field name="context">{}</field>
    </record>

<menuitem action="modelc_action" id="modelc_production_action"
        parent="menu_abcd_models" sequence="1"/>


  <record id="modeld_action" model="ir.actions.act_window">
        <field name="name">Model D</field>
        <field name="type">ir.actions.act_window</field>
        <field name="res_model">model.d</field>
        <field name="view_type">form</field>
        <field name="view_mode">tree,form,</field>
        <field name="view_id" eval="False"/>
        <field name="context">{}</field>
    </record>

<menuitem action="modeld_action" id="modeld_production_action"
        parent="menu_abcd_models" sequence="1"/>


<record id="modele_action" model="ir.actions.act_window">
        <field name="name">Model E</field>
        <field name="type">ir.actions.act_window</field>
        <field name="res_model">model.e</field>
        <field name="view_type">form</field>
        <field name="view_mode">tree,form,</field>
        <field name="view_id" eval="False"/>
        <field name="context">{}</field>
    </record>

<menuitem action="modele_action" id="modele_production_action"
        parent="menu_abcd_models" sequence="1"/>
        
</data>
</openerp>
